{% block content %}
  
      <!-- Begin Featured Work -->
      <br>
      <form method="post">
      
        <div class="row">
          <div class="col-md-3 col-md-offset-1">
            Category
          </div>
          <div class="col-md-1 col-md-offset-5">
              <button class="btn btn-default" type="submit"  
                name="submit" value="delete">
                <img class = "img-responsive" src="/static/img/sm_trash_can.png">
              </button>
          </div>
          <div class="row margin-bottom-sm">
            <textarea class="col-md-9 col-md-offset-1" rows="1s" name="category">{{ category_name }}</textarea>
          </div>
        </div>

        {% if error %}
          <div class="row margin-bottom-sm">
            <div class="col-md-9 col-md-offset-1 text-center bg-danger">
              {{ error }}
            </div>
          </div>
        {% endif %}

        <br>

        <div class="row">
          <div class="col-md-1 col-md-offset-2">
            <button type="submit" name="submit" value="submit" class="btn btn-default">
              Submit
            </button>
          </div>
          <div class="col-md-1 col-md-offset-2">
            <button type="reset" name="reset" value="reset" class="btn btn-default">
              Reset
            </button>
          </div>
          <div class="col-md-1 col-md-offset-2">
            <button type="submit" name="cancel" value="cancel" class="btn btn-default">
              Cancel
            </button>
          </div>
        </div>

    </form>
    <br><br><br>

{% endblock %}