{% extends "/base.html" %}

{% block content %}
  
  <!-- Begin Featured Work -->

<form method="post">

  <label>

    <div class="row">
      <div class="col-md-2 col-md-offset-1">
        Item
      </div>
      <div class="col-md-1 col-md-offset-6">
          <button class="btn btn-default" type="submit"  
            name="submit" value="delete">
            <img class = "img-responsive" src="/static/img/sm_trash_can.png">
          </button>
      </div>
    </div>
    <div class="row">
      <div class="margin-bottom-sm">
        <textarea class="col-md-9 col-md-offset-1" rows="1s" name="name">{{ item_name }}</textarea>
      </div>
    </div>
   
  </label>

  <label class="row margin-top-none">

    <div class="col-md-2 col-md-offset-1">
      Categories
    </div>

    <select name="category_id" class="col-md-3">

      {% for category in categories %}

        {{ category.render_dropdown(category_id) | safe }}

      {% endfor %}

    </select>
  </label>

  <label class="row">
    <div class="col-md-9 col-md-offset-1">
      Description
    </div>
    <div class="row margin-bottom-sm">
      <textarea class="col-md-9 col-md-offset-1" rows="5" name="description">{{ item_description }}</textarea>
    </div>
  </label>

    {% if error %}
      <div class="row margin-bottom-sm">
        <div class="col-md-9 col-md-offset-1 text-center bg-danger">
          {{ error }}
        </div>
      </div>
    {% endif %}

    <div class="row">
      <button type="submit" name="submit" value="submit" class="col-md-1 col-md-offset-2 btn btn-default">
        Submit
      </button>
      <button type="reset" name="reset" value="reset" class="col-md-1 col-md-offset-2 btn btn-default">
        Reset
      </button>
      <button type="submit" name="cancel" value="cancel" class="col-md-1 col-md-offset-2 btn btn-default">
        Cancel
      </button>
    </div>

</form>

{% endblock %}