  <!-- Begin Blog entry -->
  <article>
    <div class="row">
      <div class="col-md-9 col-md-offset-1 text-center">
        <h3>
          {{ item._name }}
        </h3>
      </div>
    </div>

    <!-- Blog content with <br> replaced in for line breaks-->
    <div class="row text-center">
      <p class="col-md-9 col-md-offset-1 text-left lead">
        {{ item._render_desc | default(entry.content, true) | replace("\n", "<br>") | safe }}
      </p>
    </div>

    <div class="row">
      <div class="col-sm-4 col-sm-offset-2 text-left">
        {%  if item.user_curr  %}
          {%  if entry.user_curr.username != entry.author.username  %}
            <form action="/blog/entry/{{ entry._entry_id | safe }}/rate" method="post">
              <button type="submit" name="like" value="like" class="btn-link">Like</button>
              |
              <button type="submit" name="like" value="unlike" class="btn-link">Unlike</button>
            </form>
          {% else %}
            <a class="login-link" href="/blog/entry/{{ entry._entry_id | safe }}/edit">Edit</a>
          {% endif %}
        {% endif %}
      </div>
      <div class="col-sm-1 text-right text-danger">
        likes: {{  entry._likes  }}
      </div>
      <div class="col-sm-2 header-date text-center">
      {# <small> #}
        <a class="login-link" href="/blog/entry/{{ entry._entry_id | safe }}">
          Created: {{  entry.created.strftime("%b %d, %Y")  }}
        </a>
      {# </small> #}
      </div>
    </div>
  </article>

  <div class="row">
    <div class="col-md-12">
      <hr class="hr">
    </div>
  </div>